@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,900");
@import url("https://fonts.googleapis.com/css?family=Teko:700");
@import url("https://fonts.googleapis.com/css?family=Advent+Pro:400");

@media screen and (min-width: 960px) {
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}

html,
body {
  min-height: 100%;
}

body {
  background-color: white !important;
  font-family: "Roboto", "Franklin Gothic Medium", Arial, sans-serif;
  color: #303030;
  overflow-x: hidden;
}

.logo {
  font-family: "Teko", "Roboto", sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 36px;
  color: #303030;
  white-space: nowrap;
  img {
    vertical-align: middle;
  }
}

.logo-v {
  font-family: "Teko", "Roboto", sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 36px;
  color: #303030;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  flex-direction: column;
  img {
    margin-bottom: 10px;
  }
}

.landing1 {
  width: 100%;
  max-width: 1600px;
}

.landing1-bg {
  display: flex;
  background-color: #000;
  justify-content: center;
  transition: height 1.3s ease-out;
  height: 0;
  overflow: hidden;
  img {
    object-fit: cover;
    display: none;
  }
  &.loaded {
    height: 100vh;
    img {
      display: block;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.hero {
  font-family: "Advent Pro", sans-serif !important;
  font-weight: 400;
}

.hero {
  font-size: 6rem;
  line-height: 1;
}

.title {
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 40px;
  max-width: 1000px;
}

.container-lg {
  max-width: 1600px;
  margin: 0 auto;
}

.container-md {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

a.hi {
  display: inline-block;
  color: rgba(0, 0, 0, 0.87);
  background-color: #c5cae9;
  padding: 0 5px;
  border-radius: 4px;
  line-height: 1.5;
  text-decoration: none;
  transition: 200ms background-color;
  &:hover {
    background-color: #c5cae9;
  }
}

strong {
  font-weight: 500;
}

footer {
  display: none;
}

.banner-text {
  padding: 1.2rem 24px 4rem;
  position: relative;
  z-index: 1;
}

.hpot {
  display: none;
}

.img-fluid {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.banner1 {
  // background-image: url("../images/office.jpg");
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: repeat-x;
  background-color: #241d2b;
  /* background-size: auto 100%; */
  color: #fff;
  position: relative;
  overflow: hidden;
}

.nav-appear {
  opacity: 0;
  margin-left: 50px;
}

.nav-appear.nav-appear-active {
  opacity: 1;
  margin-left: 0;
}
