@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,900");
@import url("https://fonts.googleapis.com/css?family=Teko:700");
// @import url("https://fonts.googleapis.com/css?family=Advent+Pro:400");
@import "~rfs/scss";

$white: #fff;
$black: #000;
$dark: #303030;

@font-face {
  font-family: "Mont-HeavyDEMO";
  src: url("../webfonts/38C11A_0_0.eot");
  src: url("../webfonts/38C11A_0_0.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/38C11A_0_0.woff2") format("woff2"),
    url("../webfonts/38C11A_0_0.woff") format("woff"),
    url("../webfonts/38C11A_0_0.ttf") format("truetype");
}

// @media screen and (min-width: 960px) {
//   html {
//     margin-left: calc(100vw - 100%);
//     margin-right: 0;
//   }
// }

html,
body {
  min-height: 100%;
  margin-bottom: 400px;
}

body {
  background-color: $white !important;
  font-family: "Roboto", "Franklin Gothic Medium", Arial, sans-serif;
  color: $dark;
  overflow-x: hidden;
  line-height: 1.5;

  @include rfs(26);
}

.logo {
  font-family: "Teko", "Roboto", sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 36px;
  color: $dark;
  white-space: nowrap;

  img {
    vertical-align: middle;
  }
}

.logo-v {
  font-family: "Teko", "Roboto", sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 36px;
  color: $dark;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  flex-direction: column;

  img {
    margin-bottom: 10px;
  }
}

#menu {
  span {
    @include rfs(80);

    font-family: "Mont-HeavyDEMO", sans-serif !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mont-HeavyDEMO", sans-serif !important;
  // font-family: "Advent Pro", sans-serif;
  font-weight: normal;
}

h6 {
  @include rfs(16);
}

h5 {
  @include rfs(20);
}

h4 {
  @include rfs(24);
}

h3 {
  @include rfs(28);
}

h2 {
  @include rfs(32);
}

h1 {
  @include rfs(36);
}

.hero {
  @include rfs(90);

  font-family: "Mont-HeavyDEMO", sans-serif !important;
  font-weight: normal;
  line-height: 1;
  word-spacing: 7px;
  text-align: center;
}

.title {
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 40px;
  max-width: 1000px;
}

.container-lg {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-md {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

a.hi {
  display: inline-block;
  color: rgba(0, 0, 0, 0.87);
  background-color: #c5cae9;
  padding: 0 5px;
  border-radius: 4px;
  line-height: 1.5;
  text-decoration: none;
  transition: 200ms background-color;
  mix-blend-mode: multiply;

  &:hover {
    background-color: #c5cae9;
  }
}

strong {
  font-weight: 500;
}

.hpot {
  display: none;
}

.img-fluid {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.nav-appear {
  opacity: 0;
  margin-left: 50px;
}

.nav-appear.nav-appear-active {
  opacity: 1;
  margin-left: 0;
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}

ol li {
  counter-increment: my-awesome-counter;
  position: relative;
  margin-top: 20px;
}

ol li::before {
  content: counter(my-awesome-counter) ". ";
  position: absolute;
  top: 0;
  left: -35px;
  font-family: "Mont-HeavyDEMO", sans-serif !important;
  font-size: 30px;
}

.normal {
  mix-blend-mode: normal;
}

.multiply {
  mix-blend-mode: multiply;
}

.screen {
  mix-blend-mode: screen;
}

.overlay {
  mix-blend-mode: overlay;
}

.darken {
  mix-blend-mode: darken;
}

.lighten {
  mix-blend-mode: lighten;
}

.color-dodge {
  mix-blend-mode: color-dodge;
}

.color-burn {
  mix-blend-mode: color-burn;
}

.difference {
  mix-blend-mode: difference;
}

.exclusion {
  mix-blend-mode: exclusion;
}

.hue {
  mix-blend-mode: hue;
}

.saturation {
  mix-blend-mode: saturation;
}

.color {
  mix-blend-mode: color;
}

.luminosity {
  mix-blend-mode: luminosity;
}
